*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #c44d4d;
}

.box{
    width: 500px;
    height: 500px;
    background-color: aqua;
    z-index: 1;
}